/* ===== SPINNER DE BOLINHAS ===== */
.dot-spinner {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.dot {
    width: 8px;
    height: 8px;
    background: #184145;
    border-radius: 50%;
    animation: bounce 1.4s ease-in-out infinite;
}

.dot:nth-child(1) { animation-delay: -0.32s; }
.dot:nth-child(2) { animation-delay: -0.16s; }
.dot:nth-child(3) { animation-delay: 0s; }

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    40% {
        transform: scale(1.2);
        opacity: 1;
    }
}

#info-icon-categorias:hover::after {
    content: "Clique aqui";
}

.auditoria-badge {
    display: inline-block;
    /* background: #e8f4f8;
    color: #0b5b99; */
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}